<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h2 class="sub-header">{{"views.navigation.about" | translate}}</h2>
	<div class="row">
		<h5>{{"views.about.description" | translate}}</h5>
	</div>
	<div class="row">
		<h5>{{"views.about.features" | translate}}</h5>
	</div>
    <ul>
    	<li><h5>{{"views.about.authentication" | translate}}</h5></li>
        <li><h5>{{"views.about.usermanagement" | translate}}</h5></li>
        <li><h5>{{"views.about.profilemanagement" | translate}}</h5></li>
        <li><h5>{{"views.about.rightmanagement" | translate}}</h5></li>
        <li><h5>{{"views.about.internationalization" | translate}} (i18n)</h5></li>
    </ul>
    <div class="row">
		<h5>{{"views.about.technical" | translate}}</h5>
	</div>
	<div class="row">
		<h5>{{"views.about.copyright" | translate}}<a href="https://github.com/ManuelKrupa"> GitHub</a>.</h5>
	</div>
	<div class="row">
		<h5>{{"views.about.technicallist" | translate}}</h5>
	</div>
	<ul>
    	<li><h5>Frontoffice</h5>
    		<ul>
        		<li><h5>Angular JS</h5></li>
        		<li><h5>Bootstrap</h5></li>
        		<li><h5>Karma</h5></li>
        		<li><h5>Jasmine</h5></li>
        		<li><h5>PhantomJS</h5></li>
        		<li><h5>Bower</h5></li>
        		<li><h5>Grunt</h5></li>
    		</ul>
    	</li>
    	<li><h5>Backoffice</h5>
    		<ul>
        		<li><h5>Spring Boot</h5></li>
        		<li><h5>Spring Data JPA</h5></li>
        		<li><h5>HSQLDB</h5></li>
        		<li><h5>Maven</h5></li>
    		</ul>
    	</li>
    </ul>
</div>